<?php
return array(

	//
	//
	//   ___                            __ __
	//  / __> ___  _ _  _ _  ___  _ _  |  \  \ ___ ._ _  _ _
	//  \__ \/ ._>| '_>| | |/ ._>| '_> |     |/ ._>| ' || | |
	//  <___/\___.|_|  |__/ \___.|_|   |_|_|_|\___.|_|_|`___|
	//
	//          http://github.com/fredsted/ServerMenu
	//
	//


	/**
	 * Global Server Menu configuration.
	 */

	'app' => array(

		// MD5 sum of a password of your choosing (generate on http://www.md5.cz).
		'password'            => '',

		// Enter path of download directory to list latest downloads
		'download_dir'        => '/Downloads',

		// Use a bootswatch.com theme. Examples: darkly, cyborg, cosmo
		'theme'               => 'default',

		// Add custom navigation links on the homepage
		'navigation_links'    => array(
			'Github Repo'     => 'http://github.com/fredsted/ServerMenu',
			'IMDB'            => 'http://imdb.com',
		),

		// Private ranges (for WAN or LAN accessible links, if your services are available from the Internet)
		'private_ranges'      => array('10.0.0.0/8', '192.168.0.0/16', '172.16.0.0/12', '127.0.0.0/8', '::1'),

        // Redis cache configuration. Set if you want to use Redis instead of file cache.
        /* 'redis'               => [
			'host' => '/tmp/redis.sock',
			'port' => null,
			'db'   => 3,
		], */
	),

	/**
	 * Add a service to your Server Menu by adding it to the
	 * 'services' array below. Look inside the service for the needed
	 * configuration variables. Here's some examples:
	 */

	'Services' => array(

		// NZBGet Newsgroup client.
		/* [
			'plugin'         => 'NZBGet',
			'url'            => 'http://controlUsername:controlPassword@127.0.0.1:6789'
			// 'public_address' => '',
			// 'title' => '',
		], */

		// SABnzbd+ Newsgroup client.
		/* array(
			'plugin'         => 'Sabnzbd',
			'title'          => 'SABnzbd+',
			'url'            => "http://server.local:8080/sabnzbd",
			'api_key'        => 'd51cafcf17264b2fa341a6b596076f95',
			'public_address' => 'http://home.dyndns.com/sabnzbd',
		), */

		// Transmission torrent client.
		/* array(
			'plugin'         => 'Transmission',
			'title'          => 'Transmission',
			'hostname'       => 'server.local',
			'port'           => '9091',
			'username'       => 'transmission',
			'password'       => 'password',
			'public_address' => 'http://home.dyndns.com/transmission',
		), */

		// Checks whether SickBeard is up.
		/* array(
			'title'          => 'SickBeard',
			'plugin'         => 'HTTP',
			'hostname'       => 'server.local',
			'port'           => '8081',
			'public_address' => 'http://home.dyndns.com/sickbeard',
		),*/

		// Checks whether Webmin is up.
		/* array(
			'title'          => 'Webmin',
			'plugin'         => 'HTTP',
			'protocol'		 => 'https',
			'hostname'       => 'server.local',
			'port'           => '10000',
			'public_address' => 'https://home.dyndns.com:10000'
		)  */

	),


	/**
	 * Add RSS feeds below. No configuration neccessary, just drop
	 * them inside the Feeds folder and add them here.
	 */

	'Feeds' => array(

		// TV RSS Feed
		/* array(
			'plugin' => 'ShowRSS',
		), */

		// TV RSS Feed
		/* array(
			'plugin' => 'EZTV',
		), */

		// Scene blog RSS feed
		/* array(
			'plugin' => 'ReleaseLog',
		) */
	),


	/**
	 * Add search providers below. No configuration neccessary, just drop
	 * them inside the SearchProviders folder and add them here.
	 */

	'SearchEngines' => array(

		// Torrent search engine
		/* array(
			"plugin" => "KickassTorrents"
		), */

		// NZB search engine (no authentication)
		/* array(
			"plugin" => "NZBIndex"
		), */

		// NZB search engine (no authentication)
		/* array(
			"plugin" => "NZBClub"
		), */

		// NZB search engine (API key is at https://www.oznzb.com/apihelp)
		/* array(
			'plugin' => 'OZNZB',
			'api_key' => 'insert-api-key-here'
		) */

        // NZB search engine (API key is at https://www.drunkenslug.com/apihelp)
        /* array(
            'plugin' => 'DrunkenSlug',
            'api_key' => 'insert-api-key-here'
        ), */

        // NZB search engine (API key is at https://www.abnzb.com/apihelp)
        /* array(
            'plugin' => 'ABNZB',
            'api_key' => 'insert-api-key-here'
        ), */

        // NZB search engine (API key is at https://www.nzbnoob.com/apihelp)
        /* array(
            'plugin' => 'NZBNoob',
            'api_key' => 'insert-api-key-here'
        ), */
	),
);
